@import "tailwindcss";

:root {
  --container-padding: 1rem;
  --container-padding-md: 2rem;
  --container-padding-lg: 4rem;

  /* custom colors*/
  --red-orange: color-mix(in srgb, #ef4444 50%, #f97316 50%);
}

/*
@theme inline {
  --font-sans: var(--font-archivo);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/
body {
  font-family: var(--font-archivo);
}

@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }
  .btn-red-orange {
    background-color: var(--red-orange);
  }
  .border-red-orange {
    border-color: var(--red-orange);
  }
}
